.header{
    color:black;
}

.footerFirst{
    background: #ffffff
}

.footerSecond{
    background: #1c1d21
}

.footerPadding{
    padding: 30px
}

#whyChoseUs{
    padding: 30px;
} 

#whyChoseUs h2{
    color: #ffffff;
}